@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  @apply py-8;
}

body {
  font-family: "Inter";
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.login-section::before,
.login-section::after {
  content: "";
  background-image: url("/veg-plate.png");
  background-size: cover;
  position: absolute;
  z-index: -1;
}

.login-section::before {
  top: -165px;
  right: -130px;
  width: 500px;
  height: 500px;
}

.login-section::after {
  bottom: -150px;
  left: -100px;
  width: 500px;
  height: 500px;
}

.menu-bar {
  background-color: rgb(255, 255, 255);
  color: rgb(64, 74, 88);
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  filter: drop-shadow(rgba(0, 0, 0, 0.1) 2px 2px 10px);
  position: sticky;
  top: 0px;
  z-index: 999;
}

/* Time picker style */

.rc-time-picker-input {
  font-size: 14px !important;
  outline: none;
}

/* Accordion */

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: #ccc;
}

.panel {
  margin: 10px 0;
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion:after {
  content: "\02795";
  /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796";
  /* Unicode character for "minus" sign (-) */
}

.pagination {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  padding: 0 5rem;
  gap: 10px;
  align-items: center;
}

.pagination li a {
  border-radius: 7px;
  padding: 0.1rem 1rem;
  border: gray 1px solid;
  cursor: pointer;
}

.pagination li.previous a,
.pagination li.next a,
.pagination li.break a {
  border-color: transparent;
}

.pagination li.selected a {
  background-color: #4C7838;
  border-color: transparent;
  color: white;
  min-width: 32px;
}

.pagination li.disabled a {
  color: grey;
}

.pagination li.disable,
.pagination li.disabled a {
  cursor: default;
}
